#root {
  max-width: 1280px;
  margin:auto;
 
} 

.forMargin{
  margin-left:8rem;
}
.forNavItem:hover{
   border-bottom: 2px solid blue;
  transition: all 0.1s ease-in;
  
}
@media screen and (max-width:768px){
  .forMargin{
  margin-left:0.5rem;
}
}
