#root {
  max-width: 1280px;
  margin:auto;
 
} 

.forMargin{
 padding-left:8rem ;
}
.forNavItem:hover{
   border-bottom: 2px solid blue;
  transition: all 0.1s ease-in;
  
}
.FooterCon{
  
  margin-top:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:768px){
  .forMargin{
  padding-left:0.2rem ;
}

}
